<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsp.springstudy01.mapper.StudentMapper">


    <!--<insert id="add" parameterType="com.lsp.springstudy01.bean.Student">
        insert into student values(#{student.id},#{student.name},#{student.age})
    </insert>

    <delete id="delete">
        delete from student where id = #{id}
    </delete>

    <select id="get" resultType="com.lsp.springstudy01.bean.Student" parameterType="java.lang.String">
        select * from student where id = #{id}
    </select>-->

</mapper>
